@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$accent-color: #9f86c0;
$accent-color-2: #5e548e;

html, body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;

    margin: 0;
}